.main-container {
    height: 100vh;
    width: 100vw;
    background: beige;
}
.main-header {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(149, 149, 241);
    font-weight: bold;
}
.search-container {
    display: flex;
}
.search-input {
    height: 4vh;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    margin: 10px;
}
.gallery-container{
    height: 80vh;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: revert;
    background-color: cadetblue;
    flex-wrap: wrap;
    overflow: auto;
}
.empty-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}